<div class="flex justify-center">
  <form
    class="w-1/3"
    [formGroup]="postForm"
    (ngSubmit)="onSubmit()"
    *ngIf="!isLoading"
  >
    <app-box>
      <div class="flex flex-col gap-4">
        <app-select
          label="Type"
          [control]="typeControl"
          [options]="[
            { value: '', display: 'Select a type' },
            { value: 'text', display: 'Text' },
            { value: 'picture', display: 'Picture' },
            { value: 'video', display: 'Video' }
          ]"
          [errorMessages]="{
            required: 'Type is required.'
          }"
        ></app-select>

        <app-input
          [label]="inputLabel"
          [control]="textControl"
          type="name"
          [errorMessages]="{
            required: 'This field is required.'
          }"
        ></app-input>

        <div class="flex gap-2 items-center">
          <app-button variant="alternative" (buttonClick)="onGoBack()">
            Go Back
          </app-button>
          <app-button
            variant="primary"
            type="submit"
            [disabled]="postForm.invalid"
          >
            Save
          </app-button>
        </div>
      </div>
    </app-box>
  </form>
</div>
